.landing-page {
  margin-left: -15em;
  min-height: 94vh;
  color: whitesmoke;
  background-image: linear-gradient(to right, rgba(0, 238, 255, 0.568), lightCoral);
}

.app-heading {
  margin: 0;
  margin-left: 12%;
  padding-top: 0.6em;
  font-size: 10vh;
}

.sub-heading {
  font-size: 48px;
  font-style: italic;
  margin-right: -40%;
}

/* img {
  margin-top: 5em;
  width: 15%;
  height: auto;
} */

.contact-icons {
  text-decoration: none;
  position: absolute;
  bottom: 2%;
  right: 5%;
  padding: 0em;
  padding-top: 10em;
  padding-bottom: 4.25em; 
}

a {
  text-decoration: none; 
  color: whitesmoke;
  padding: 0em;
}

.icon {
  padding-right: 2px;
  transform: scale(1.5);
}

.icon-labels:hover {
  padding-bottom: 10px;
  border-bottom: solid 2px yellow;
}

.linkedIn {
  margin-right: 1em;
}

.icon-text {
  font-size: 36px;
}
