@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
  font-family: 'Comic Neue', cursive;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  text-align: left;
  color: hotpink;
  text-transform: uppercase;
  margin-bottom: 6rem;
  // background-color: $color-white;
  // border-radius: 3px;

  &--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .5rem;
  
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    color: $color-grey-dark-3;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    animation: moveInRight 2s ease-out;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  // background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
  // -webkit-background-clip: text;
  color: $color-grey-dark-3;

  transition: all .2s;
  animation: fadeIn 3s ease-in;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-black;
}

 .project-title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-black;
  }


.paragraph {
  font-size: $default-font-size;
  margin-bottom: 1rem;
  
  // &:not(:last-child) {
  //   margin-bottom: 3rem;
  // }
}