// Font
$default-font-size: 1.6rem;

// COLOR
$color-white: #fff;
$color-black: #000;

// USED FOR SECTION HEADINGS:
$color-primary: teal;

$color-primary-light: rgb(118, 192, 192);
$color-primary-dark: rgba(0, 128, 128, 0.795);

// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;