// Font
$default-font-size: 1.2rem;

// COLOR
$color-white: #fff;
$color-black: #000;
$color-coral-accent: rgb(253, 125, 125);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: rgb(167, 165, 165);
$color-grey-dark-2: rgb(129, 128, 128);
$color-grey-dark-3: #333;