.section-about {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light-1, 0.8), 
    rgba($color-grey-light-2, 0.8));
  padding: 32rem 0 5px 0;
} 

.section-artists {
  background-color: $color-grey-light-1;
  padding: 2rem;
} 
