.portfolio {
  margin: 0;
}

.stepper {
  margin-left: 35%;
  margin-right: 35%;
}

.portfolio-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1em; 
  color: black;
}

article {
  text-align: left;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 22px;
}

h3 {
  font-size: 3vh;
}

.projects {
  border: 3.5px solid lightslategrey;
  border: 2px solid rgba(34, 172, 182, 0.856);
  padding: 1em;
  border-radius: 6px;
}

.img {
  margin-top: 2.5em;
  margin-bottom: 2em;
  width: 80%;
}

.lienflash-img {
  width: 50%;
  height: auto;
} 
