@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  width: 100%;
}

.page-heading {
  margin-top: 1em;
  font-size: 6vh;
  color: rgba(34, 172, 182, 0.856);
  /* color: rgba(25, 122, 129, 0.445); */
  /* color: rgba(27, 121, 113, 0.836); */
  background-color: white;
}

.about-me-heading {
  background-color: whitesmoke;
  padding-top: 0.5em;
}

footer {
  background-color: #282c34;
  min-height: 8vh;
  width: 100%;
}

/* MEDIA QUERIES */

/*  Tablets - portrait mode, large display smartphones landscape mode */

@media only screen and (min-width: 768px) and (max-width: 1330px) {
  .page-heading {
    font-size: 6vh;
  }

  p {
  font-size: 20px;
  }

  article {
    font-size: 20px;
  }

  /* Header */
  header {
    min-height: 8vh;
  }
  .nav-link {
  padding: 2px 18px;
  }

  /* Landing page  */


 /* Contact page */
  .labels, .contact-links, .contact-email  {
  font-size: 20px;
  }
  .contact-container {
    /* margin-top: 30%; */
    padding: 8em;
    height: 12em;
    width: 12em;
  }

  /* About me page */
  .about-me {
    margin: 5%;
  }
  .kiwi-img {
    width: 32px;
  }
  .skill-list {
  font-size: 20px;
  padding-left: 5px;
  }

  /* Portfolio  */
  .projects {
    padding: 0;
  }
  .portfolio-container {
  margin-left: 5%;
  margin-right: 5%;
  }
  .stepper {
  margin-left: 25%;
  margin-right: 25%;
  }
  .img {
    margin-top: 2.5em;
    margin-bottom: 2em;
    width: 90%;
  }
  .lienflash-img {
    width: 70%;
    height: auto;
  } 
}

/* smartphones landscape */
@media only screen and (min-width: 421px) and (max-width: 767px) {
  .page-heading {
    font-size: 4vh;
  }
  h2 {
      padding-bottom: 0;
    }
  p {
  font-size: 18px;
  }

  article {
    font-size: 18px;
  }

  /* Header */
  header {
    min-height: 6vh;
  }
  .nav-link {
  padding: 2px 18px;
  }

  /* Landing page */


 /* Contact page */
  .labels, .contact-links, .contact-email  {
  font-size: 18px;
  }
  .contact-container {
    /* margin-top: 30vh; */
    padding: 6em;
    height: 10em;
    width: 10em;
  }

  /* About me page */
  .about-me {
    margin: 5%;
  }
  .kiwi-img {
    width: 28px;
  }
  .skill-list {
    font-size: 18px;
    padding-left: 1px;
  }

  /* Portfolio  */
  .projects {
    padding: 0;
  }
  .portfolio-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .stepper {
    margin-left: 15%;
    margin-right: 15%;
    }
  .img {
    margin-top: 2.5em;
    margin-bottom: 2em;
    width: 90%;
  }
  .lienflash-img {
    width: 70%;
    height: auto;
  } 
}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {
  .page-heading {
    font-size: 4vh;
  }

  h2 {
    font-size: medium;
    padding-bottom: 0;
  }

  h3 {
    font-size: medium;
  }

  p {
    font-size: 16px;
  }

  article {
    font-size: 14px;
    width: 90%;
    margin: 5%;
  }

  /* Landing page */
  .landing-page {
    margin-left: 0;
    background-image: linear-gradient(to right, rgba(45, 112, 117, 0.479), lightCoral);
  }
  .app-heading {
    font-size: 7vh;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .sub-heading {
    font-size: 4vh;
    padding: 0.8em;
    margin-right: 0;
    /* margin-right: -25%; */
  }
  .btn-primary {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 4vh;
  }
  .icon-text {
    font-size: 4vh;
  }
  .contact-icons {
    position: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Header */
  header {
    min-height: 6vh;
  }
  .nav-link {
  padding: 1px 16px;
  }

  /* Contact page */
  .labels, .contact-links, .contact-email  {
  font-size: 14px;
  }
  .contact-container {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6em;
    height: 9em;
    width: 9em;
  }

  /* About me */
  .about-me {
    margin: 2.5%;
    padding: 0em 1em 0em 1em;
  }
  .kiwi-img {
    width: 28px;
  }
  .skill-list {
    font-size: 16px;
    padding-left: 1em;
  }

  /* Portfolio  */
  .projects {
    padding: 0px;
    margin-top: 0;
  }
  .portfolio-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .stepper {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
  }
  .img {
    margin-top: 2.5em;
    margin-bottom: 2em;
    width: 90%;
  }
  .lienflash-img {
    width: 70%;
    height: auto;
  } 

}
