@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

.page-heading {
  margin-top: 1em;
  font-size: 8vh;
  color: rgba(25, 122, 129, 0.445);
  /* color: rgba(27, 121, 113, 0.836); */
  background-color: white;
}

.about-me-heading {
  background-color: whitesmoke;
  padding-top: 0.5em;
}