.contact {
  height: 80vh;
}

h2 {
  margin: 0;
  padding-bottom: 0.5em;
}

.contact-container {
  margin-top: 1em;
  border: solid 3px white;
  padding: 10em;
  height: 13em;
  width: 13em;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  /* margin-left: 40%;
  margin-right: 30%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: static;
  top: 54%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-image: linear-gradient(to top, rgba(157, 206, 209, 0.568), rgba(245, 245, 245, 0.548),  rgb(218, 211, 211));
}

.linkedIn-label {
  margin-bottom: 1em;
}

.icon {
  text-decoration: none;
}

.labels, .contact-links, .contact-email  {
  font-size: 26px;
  padding: 0.2em;
  list-style: none;
  padding-inline-start: 0px;
  color: black;  
}

.contact-links {
  display: block; 
  margin: 10px;
} 

.link:hover {
  transform: scale(1.2);
  cursor: pointer;
}
