.contact {
  height: 80vh;
}

h2 {
  margin: 0;
}

.contact-container {
  margin-top: 20em;
  border: solid 3px white;
  padding: 10em;
  height: 14em;
  width: 14em;
  border-radius: 50%;
  text-decoration: none;
  position: fixed;
  /* top: 54%; */
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, rgba(157, 206, 209, 0.568), rgba(245, 245, 245, 0.548),  rgb(218, 211, 211));
}

.linkedIn-label {
  margin-bottom: 1em;
}

.icon {
  text-decoration: none;
}

.labels, .contact-links, .contact-email  {
  font-size: 24px;
  list-style: none;
  padding-inline-start: 0px;
  color: black;  
}

.contact-links {
  display: block; 
  margin: 10px;
} 

.contact-link:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.contact-email {
  margin-left: -18%;
}