header {
  border-bottom: solid 2px rgb(226, 232, 240);
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.header-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-link {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 28px;
  /* padding-bottom: 0.2em; */
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: solid 2px rgba(34, 172, 182, 0.856);
}
