.about {
  background-color: $color-grey-light-1;
  padding: 6rem 0 5px 0;
  width: 100vw;
}

.about__heading {
  text-align: center;
}

.section-about {
  padding: 1rem 6rem;
  display: grid;
  align-items: center;
  grid-template-columns: 25% 75%;
  grid-gap: 2rem;
} 

.about__skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.avatar-container {
  padding-bottom: 1.5rem;
}

#avatar {
  width: 250px;
  height: 250px;
  border: 5px solid white;
  margin: 0 auto;
}

#avatar-mobile-only {
  visibility: hidden;
}

.pill {
  padding: .25rem 1rem;
  text-align: center;
  margin: .75rem;
  list-style: none;
  border-radius: 1rem;
  border-radius: 43px;
  background: $color-grey-light-1;
  box-shadow:  5px 5px 10px #e6e4e4,
              -5px -5px 10px #ffffff;
  white-space: nowrap;
  color: rgb(46, 45, 45);
  //  width: fit-content;
}

.resume {
  color: rgb(253, 125, 125)!important;
}

@media only screen and (max-width: 1240px)  {
  .section-about {
    grid-template-columns: 20% 80%;
  }

  #avatar {
    width: 200px;
    height: 200px;
    opacity: 0.75;
    border: 5px solid white;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px)  {
  .section-about {
    width: 100vw;
    grid-template-columns: 0% 100%;
    grid-gap: 0!important;
    margin-top: 2rem;
  }

  #avatar, .avatar-container {
    visibility: hidden;
  }

  #avatar-mobile-only {
    visibility: visible;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    margin: 0 auto;
  }

  #avatar-mobile-container {
    visibility: visible;
    width: 160px;
    height: 160px;
    border: 5px solid white;
    margin: 0 auto;
  }

  .heading-tertiary {
    text-align: center;
    margin: 0 auto;
  }

  .pill {
    font-size: 1rem;
  }
} 

@media only screen and (max-width: 420px)  {
  .about__skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .section-about {
    padding: 1rem;
  }

  .pill {
    font-size: 1rem;
    white-space: pre-wrap;
    align-self: center;
  }
} 