.about {
  margin-top: -50vh;
  background-color: $color-grey-light-1;
  padding: 32rem 0 5px 0;
  height: 150vh;
}

.about__heading {
  text-align: center;
}

.section-about {
  padding: 1rem 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
  grid-gap: 1rem;
} 

.about__skill-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.avatar-container {
  padding-bottom: 1.5rem;
}

.pill {
  // background-color: rgb(143, 142, 142);
  padding: .25rem .5rem;
  // background: rgba(43, 166, 203, 0.781);
  // background: rgba(255, 255, 255, 0.822);
  text-align: center;
  // width: 250px;
  color: black;
  font-size: 1rem;
  // border: 2px solid black;
  margin: .75rem;
  list-style: none;
  border-radius: 1rem;

border-radius: 43px;
background: $color-grey-light-1;
box-shadow:  5px 5px 10px #e6e4e4,
             -5px -5px 10px #ffffff;
}
