.contact {
  height: 100vh; 
  
  &__container {
    padding: 6rem;
    // background-color: $color-grey-light-1;
    height: 100%;
    background-image: url(./../../assets/domenico-gentile.jpg);
    background-size: cover;
    text-align: center;
    z-index: 1;
    position: relative;
  }

  &__heading {
  color: $color-white;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}


  &__contact-icons {
      padding-top: 0rem;
    }
}  


.contact-links {
  display: inline;
  list-style: none;
}

 

.label {
  color: $color-white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

// .labels:hover, .contact-email:hover {
//   color: rgb(89, 153, 109);
// }

.form-area {
  margin: 0 auto;
  width: 40%;
  padding: 2rem 2.5rem;
  border-radius: 1rem;

  background-color: transparent;
  z-index: 1000;
}

input, #message {
  width: 100%;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  border: none;
  border-radius: .5rem;
  line-height: 28px;
  padding: 5px;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

#submit-btn {
  background-color: $color-grey-light-2;
  width: 100%;
  color: $color-black;
  font-size: 1.2rem;
  border: none;
  border-radius: .5rem; 
  padding: 8px;
  font-family: 'Nunito', sans-serif;
} 

#submit-btn:hover {
  cursor: pointer;
}

.p {
  padding-top: 2rem;
  font-size: 2rem;
  color: $color-white;
}

@media only screen and (max-width: 420px)  {
  .contact__container {
    width: 100vw;
    padding: 6rem 1rem;
  } 

  .form-area {
    padding: 0;
    width: 100%;
  }
} 

@media only screen and (max-width: 320px)  {
  .contact__container {
    padding: 5rem .5rem;
  } 

} 

