.icon-labels {
  color: $color-grey-dark-3;
  font-size: 1.8rem;
  padding: 1rem;
  text-decoration: none;
  animation: fadeIn 2s ease-in;

  &:hover {
    font-size: 2rem;
    border-bottom: 2px solid $color-white;
  }
}