.icon {
  color: $color-white;
  font-size: 3rem!important;
  padding: 0 1rem;
  text-decoration: none;
  animation: fadeIn 2s ease-in;

  &:hover {
    border-bottom: 2px solid $color-white;
  }
}

@media only screen and (max-width: 420px)  {
  .icon {
    font-size: 2.5rem!important;
  }
} 

@media only screen and (max-width: 320px)  {
  .icon {
    font-size: 2.25rem!important;
  }
} 