.nav-container {
  margin: 0 auto;
}

.nav-links {
  margin: 0!important;
}

.nav-link {
  display: inline-block;
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  margin: 0 1.5rem;
  padding: 0 .5rem;
  letter-spacing: 2px;
}

.nav-link:hover {
  cursor: pointer;
}

.sn-logo {
  background-color: black;
  color: white;
  padding: .2rem .5rem;
  // border: 2px solid darkgray;
  border-radius: 50%;
  // width: 110%;
  // height: 100%;
}

