@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

.nav-container {
  margin: 0 auto;
}

.nav-links {
  margin: 0!important;
}

.active {
  color: $color-coral-accent!important;
}

.nav-link {
  display: inline-block;
  color: $color-grey-dark;
  font-size: 1.2rem;
  margin: 0 1.5rem;
  padding: 0 .5rem;
  letter-spacing: 2px;
}

.nav-link:hover {
  cursor: pointer;
}

.sn-logo {
  border: 1px solid $color-coral-accent;
  color: $color-coral-accent;
  padding: 0rem .25rem;
  font-family: 'Noto Serif JP', serif;
}

/* Hamburger Menu *///////////

.menu-item {
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  color: $color-white;
  transition: color 0.2s;
  outline: none;
  border: none;
  text-align: left;
}


.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: $color-grey-light-2;
}

.bm-cross {
  background: $color-grey-light-2;
}

.bm-menu {
  background: $color-grey-dark-3;
  padding: 5rem 1.5em 0;
  font-size: 1.1rem;
  max-height: 25rem!important;
  border-radius: .5rem;
  width: 100%;
}

.bm-overlay {
  background: rgba(54, 53, 53, 0.194);
}



@media (min-width: 769px)  {
  #mobile {
    display: none;
  }
} 

@media (max-width: 768px)  {
  #desktop {
    display: none;
  }
} 

@media only screen and (max-width: 420px)  {
 .sn-logo {
    background-color: $color-grey-dark-3;
    color: $color-white;
    padding: .1rem .3rem;
    border-radius: 50%;
  }

  .nav-link {
    font-size: .8rem;
  }

  .bm-burger-button {
    position: absolute;
    width: 26px;
    height: 20px;
    left: 15px;
    top: 25px;
  }
} 
