
.portfolio {
  margin-top: 4rem;
  padding: 8rem 0rem;
}

.portfolio-heading {
  text-align: center!important;
  color: $color-grey-dark-3;
}

.portfolio-section {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 3rem;
}

.img-container {
  margin: 0 auto;
  height: 320px;
}

.img {
  width: 100%;
}

.img:hover {
  opacity: 1;
}

.card {
  margin: 0 auto;
  max-width: 400px;
  // border: 3px solid $color-white;
  background-color: white;
  border-radius: .375rem;
  box-shadow:  5px 5px 10px #e6e4e4,
              -5px -5px 10px #ffffff;
}

.card:hover {
  transform: scale(1.05);
}

.project-description {
  padding: 0 1rem;
}

.portfolio-tech-list {
  padding-left: 1rem;
}

.tech-item {
  padding: 0rem 0.5rem;
  font-size: 1rem;
}


@media only screen and (max-width: 420px)  {
  .portfolio {
    margin-top: 4rem;
    padding-top: 6rem;
  }
  
  .portfolio-section {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .card:hover {
  transform: none;
}
} 