.portfolio-heading {
  text-align: center!important;
  // background-color: $color-grey-light-1;
}

.portfolio-section {
  width: 80%;
  margin: 0 auto;
}

.img-container {
 text-align: center;
}

.img {
  width: 75%;

}