.header {
  height: 100vh;
  background-image: 
    url(./../../assets/domenico-gentile.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  text-align: center;

  &__text-box {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__contact-icons {
    width: 80%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // &____text-btn {
  //   width: 80%;
  //   position: absolute;
  //   top: 20%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   animation: fadeIn 5s ease-in;
  // }
}