.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light-1, 0.8), 
    rgba($color-grey-light-2, 0.7)),
    url(./../../assets/home-background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  text-align: center;

  &__text-box {
    width: 80%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__contact-icons {
    width: 80%;
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
  }

  &____text-btn {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 5s ease-in;
  }
}