.about-page {
  background-color: white;
}

.about-me {
  margin-left: 25%;
  margin-right: 25%;
  align-self: center;
  text-align: left;
  height: auto;
  padding: 0em 2em 0em 2em;
  color: black;
  border-radius: 1em;
  background-color: whitesmoke;
}

p {
  font-size: 22px;
  font-weight: 400;
}

.skill-list {
  font-size: 22px;
}

.photo {
  width: 40%;
  margin: 1em;
  border: solid 4px white;
  border-radius: 2em;
}

.kiwi-img {
  width: 72px;
  padding-left: 0.5em;
}

